.wrapper{ 
  width: 300px;
  margin: 0 auto;
   padding: 0 ;
}
input{
  width:96%; 
  padding: 0;
  margin: 0; 
  text-align: right;
  background-color: black;
  color: white;
} 
 
button{

width: 23%;  
}
.danme5{
  width:48%;
}
